<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        table, td, th {
        border: 1px solid gray;
        }
        th {
        background-color: gray;
        color: white;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Update Your Reservation</title>

    <!-- Bootstrap -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Update Your Reservation</h1>


    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <br>

    <% if (rooms.length > 0 && session.reservation_update_id && reservation.length) { %>

    <script>

      // values to keep from the session/from the
      var oldCost = <%= reservation[0].Total_cost %>;

      var startDate = "<%= reservation[0].Start_date %>";
      var endDate = "<%= reservation[0].End_date %>";
      var differenceDays = function(date1, date2) {
        var mdate1 = moment(date1);
        var mdate2 = moment(date2);
        var days =  mdate2.diff(mdate1, 'days')
        console.log(days);
        return days;
        // var timeDiff = Math.abs(date2.getTime() - date1.getTime());
        // return Math.ceil(timeDiff / (1000 * 3600 * 24));
      }
      var diffDays = differenceDays(startDate, endDate);
    </script>

      <p> Rooms are available! Please confirm details below before submitting. <p>
      <div class="container">
      <form method="post">
        <div class="form-group">
          <label for="room_search_startdate">Start Date</label>
          <input type="date" class="form-control" id="room_search_startdate" readonly name="startDate" value="<%= session.update_reservation_startDate %>" required>
        </div>
        <div class="form-group">
          <label for="room_search_enddate">End Date</label>
          <input type="date" class="form-control" id="room_search_enddate" readonly name="endDate" value="<%= session.update_reservation_endDate %>" required>
        </div>
        <table class="w3-table-all" style="width:100%">
        <tbody>
          <tr>
            <th>Room Number</th>
            <th>Room Category</th>
            <th># Persons Allowed</th>
            <th>Cost per Day</th>
            <th>Cost of Extra Bed per Day</th>
            <th>Select Room</th>
          </tr>
        <% for (var i in rooms) { %>
          <% var room = rooms[i]; %>
          <tr class="available_room" roomcost="<%= room.Cost_day %>">
            <td><%= room.Room_no %></td>
            <td><%= room.Room_category %></td>
            <td><%= room.No_people %></td>
            <td><%= room.Cost_day %></td>
            <td><%= room.Cost_extra_bed_day %></td>
            <td>
              <input class="checkbox" type="checkbox" name="select_room" value="<%= room.Room_no%> <%= room.location %>"><br>
            </td>
          </tr>
        <% } %>
        </tbody>
        </table>
        <br>
        <h4>Previous Cost: <span style="font-weight: bold;">$<span id="prev_cost"></span><%= reservation[0].Total_cost %></span></h4>
        <input type="hidden" name ="PrevCost" value="" id="hiddenPrevCostInput">
        <br>
        <h4>New Cost: <span style="font-weight: bold;">$<span id="new_cost"></span></span></h4>
        <input type="hidden" name ="totalCost" value="" id="hiddenNewCostInput">

        <br>
        <button type="submit" class="btn btn-default">Update Reservation</button>
      </form>
    </div>



    <script>

    $( document ).ready(function() {

      var displayCost = function() {
        var totalCost = 0;
        // console.log("diffDays: " + diffDays);
        $("tr.available_room").each(function () {
          var roomCost = 0
          // roomCost += parseInt($(this).attr('roomcost'));
          if ($(this).find('input.checkbox').is(':checked'))
            roomCost += parseInt($(this).attr('roomcost'));
          // console.log("roomCost: " + roomCost);
          totalCost += roomCost * diffDays;
        }).promise().done( function() {
          $('#new_cost').text(totalCost);
          $('#hiddenNewCostInput').attr('value', totalCost);
        });
      }
      displayCost();
      $("input.checkbox").change(displayCost);
    });
    </script>

    <% } else { %>
      <h4>No rooms meet your search criteria. <a href="/updatereservation2">Try A different Search</a></h2>
    <% } %>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
